.vscode/*
a.out
CF
coding_test
PAST/*
atcoder/AHC/not_open**
.tmp
.ipynb_checkpoints

input/*
__pycache__
*.pyc
!requirements.txt
# rust
target
Cargo.lock
# python
.DS_Store
# test
*.in
*.out

# exclude
!atcoder/PAST/open/**